#intro {
  height: calc(100vh - 4rem);
  width: 100vw;
  max-width: 75rem;
  margin: 0;
  overflow: hidden;
}

.bg {
  height: 90vh;
  width: 50vw;
  position: absolute;
  top: 50%;
  left: 80%;
  transform: translate(-50%, -50%);
  z-index: -1;
  object-fit: cover;
}

.introContent {
  height: 80vh;
  width: 80vw;
  padding: 2rem;
  box-sizing: border-box;
  font-size: 3.5rem;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content:flex-end;
  position: relative;
}

.introPara {
  font-size:large;
  font-weight: 350;
  margin-top: 3rem;
  text-align:flex;
  justify-content:center;
}

.hello {
  font-size: 1.75rem;
  font-weight: 300;
}

.introName {
  color: yellow;
}

button {
  font-size: 16px;
  position: relative;
  margin: auto;
  padding: 1em 2.5em 1em 2.5em;
  border: none;
  background: #fff;
  transition: all 0.1s linear;
  box-shadow: 0 0.4em 1em rgba(0, 0, 0, 0.1);
 }
 
 button:active {
  transform: scale(0.95);
 }
 
 button span {
  color: #464646;
 }
 
 button .border {
  position: absolute;
  border: 0.15em solid #fff;
  transition: all 0.3s 0.08s linear;
  top: 50%;
  left: 50%;
  width: 9em;
  height: 3em;
  transform: translate(-50%, -50%);
 }
 
 button:hover .border {
  display: block;
  width: 9.9em;
  height: 3.7em;
 }
 
 .full-rounded {
  border-radius: 2em;
 }
.btnImg {
  object-fit: cover;
  margin: 0 0.25rem;
  height: 1rem;
}

@media screen and (max-width: 480px) {
  #intro {
    height: 100vh;
  }

  .bg {
    height: 50vh;
    width: 100vw;
  }

  .introContent {
    font-size: 2rem;
    padding: 1rem;
  }

  .introPara {
    font-size: small;
  }

  .hello {
    font-size: 1.25rem;
  }
}